In [10]:
import pandas as pd
import numpy as np

In [11]:
movie=pd.read_csv('IMDB Dataset.csv')
movie.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [12]:
#checking for imbalance
movie['sentiment'].value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64

In [13]:
#converting the labels into 0s and 1s
movie['sentiment']=movie['sentiment'].apply(lambda x: 1 if x=='positive' else 0)

In [14]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

#processes a movie review by removing HTML tags, non-alphanumeric characters, tokenizing it into words, 
# converting each word to lowercase, removing stopwords, and lemmatizing each word using NLTK
nltk.download('punkt')
nltk.download('wordnet')

def clean_movie(review):
    
    stop_words = stopwords.words('english')
    htmlTagCleaner = re.compile(r'<.*?>') 
    lemmat=WordNetLemmatizer()
    
    review = re.sub(htmlTagCleaner, '', review) 
    review = re.sub(r'[^\w\s]','',review)
    review = word_tokenize(review)
    review = [i.lower() for i in review if i.lower() not in stop_words]
    review = [lemmat.lemmatize(i) for i in review]
    return review

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rektg\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rektg\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [15]:
movie['review']=movie['review'].apply(clean_movie)
movie.to_csv('CleanedMovies.csv',index=False)
movie

                                                  review  sentiment
0      [one, reviewer, mentioned, watching, 1, oz, ep...          1
1      [wonderful, little, production, filming, techn...          1
2      [thought, wonderful, way, spend, time, hot, su...          1
3      [basically, there, family, little, boy, jake, ...          0
4      [petter, matteis, love, time, money, visually,...          1
...                                                  ...        ...
49995  [thought, movie, right, good, job, wasnt, crea...          1
49996  [bad, plot, bad, dialogue, bad, acting, idioti...          0
49997  [catholic, taught, parochial, elementary, scho...          0
49998  [im, going, disagree, previous, comment, side,...          0
49999  [one, expects, star, trek, movie, high, art, f...          0

[50000 rows x 2 columns]

In [7]:
# stopwords.words('english')

In [16]:
vocab=set()
all=[]
def vocabulary(review,vocab):
    for i in review:
        vocab.add(i)
        all.append(i)
        
movie['review'].apply(lambda x: vocabulary(x,vocab))
print('unique: ',len(vocab))
print('total: ',len(all))

unique:  210756
total:  5988862

In [ ]:
cnt=0
for i in all:
    if i=='bad':
        cnt+=1
cnt
   
#Checking for a single word